{% extends 'base.html' %}

{% block content %}
    <h1>Reusable Medical Devices</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Unique ID</th>
                <th>Description</th>
                <th>Status</th>
                <th>Location</th>
                <th>Actions</th>
                <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
            </tr>
        </thead>
        <tbody>
            {% for dmr in dmrs %}
            <tr>
                <td>{{ dmr.unique_id }}</td>
                <td>{{ dmr.description }}</td>
                <td>{{ dmr.status }}</td>
                <td>{{ dmr.storage_location }}</td>
                <td><a href="{{ url_for('dmr_detail', dmr_id=dmr.id) }}">View Details</a></td>
                 
                <script src="{{ url_for('static', filename='script.js') }}"></script>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}